.content-container {
    display: flex;
    width: 65%;
    border: gray 2px solid;
    border-radius: 5px;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.content-container>h1 {
    margin-bottom: 1rem;
}

.column-father {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid gray;
    border-radius: 5px;
    width: 90%;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column>h2 {
    padding: 1rem;
    cursor: pointer;
    display: flex;
}

.response-content {
    /* border: 2px solid gray; */
    border-radius: 5px;
    padding: 1rem;
    width: 95%;
    min-height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loadingDots {
    margin-left: auto;
    margin-right: auto;
}

.played {
    width: 50%;
}

.activo {
    background-color: rgba(23, 255, 42, 0.37);
    border-radius: 1rem;
    padding: 10px;
    margin-bottom: 1rem;
}