.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    margin-top: 1rem;
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: gray 2px solid;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    background-color: #04471C;
}

.nav-container>h1 {
    cursor: pointer;
}

#logo {
    text-decoration: none;
    color: whitesmoke;
}

#logo>h1 {
    display: flex;
    align-items: center;
}

.nav-lista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-lista>li {
    padding: 1rem;
    list-style: none;
    cursor: pointer;
}

/* El usuario esta sobre el enlace */
.nav-lista>li:hover {
    font-weight: bold;
}

/* Enlaces activos */
.nav-lista>li:active {
    font-weight: 400;
}

.material-symbols-outlined {
    font-size: 2.5rem;
}

.log-out {
    border: black 3px solid;
    border-radius: 25px;
    color: whitesmoke;
    background-color: black;
    font-size: medium;
    font-weight: 600;
    padding: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    cursor: pointer;
}

/* El usuario esta sobre el enlace */
.log-out:hover {
    box-shadow: white 0px 0px 5px;
}

/* Enlaces activos */
.log-out:active {
    border: whitesmoke solid 2px;
}